# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
# xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout


*.xcuserstate
*.xcbkptlist
*.xcodeproj/xcuserdata
*/**/*.xcodeproj/xcuserdata/*.xcuserdatad
*/**/*.xcodeproj/project.xcworkspace/xcshareddata

.DS_Store
# for third-party frameworks
*/**/Frameworks/
# for xcodebuild 
*/**/Build/
# for fastlane
*/**/report.xml

