<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rewardVideo_unit1</key>
	<array>
		<dict>
			<key>apikey</key>
			<string>apikey_mtg</string>
			<key>appid</key>
			<string>appid_mtg</string>
			<key>classname</key>
			<string>MTGMintegralRewardVideoAdapter</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>network</key>
			<string>mintegral</string>
			<key>unitid</key>
			<string>unitid1</string>
		</dict>
		<dict>
			<key>classname</key>
			<string>MTGIronSourceRewardVideoAdapter</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>network</key>
			<string>ironsource</string>
			<key>unitid</key>
			<string>is_unitid1</string>
		</dict>
	</array>
	<key>rewardVideo_unit2</key>
	<array>
		<dict>
			<key>apikey</key>
			<string>apikey_mtg</string>
			<key>appid</key>
			<string>appid_mtg</string>
			<key>classname</key>
			<string>MTGMintegralRewardVideoAdapter</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>network</key>
			<string>mintegral</string>
			<key>unitid</key>
			<string>unitid2</string>
		</dict>
		<dict>
			<key>classname</key>
			<string>MTGIronSourceRewardVideoAdapter</string>
			<key>network</key>
			<string>ironsource</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>unitid</key>
			<string>is_unitid2</string>
		</dict>
	</array>
</dict>
</plist>
