<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rewardVideo_unit1</key>
	<array>
		<dict>
			<key>appkey</key>
			<string>8545d445</string>
			<key>classname</key>
			<string>MTGIronSourceRewardVideoAdapter</string>
			<key>network</key>
			<string>ironsource</string>
			<key>timeout</key>
			<integer>45</integer>
			<key>placementname</key>
			<string>test1</string>
		</dict>
		<dict>
			<key>apikey</key>
			<string>936dcbdd57fe235fd7cf61c2e93da3c4</string>
			<key>appid</key>
			<string>92763</string>
			<key>classname</key>
			<string>MTGMintegralRewardVideoAdapter</string>
			<key>network</key>
			<string>mintegral</string>
			<key>timeout</key>
			<integer>45</integer>
			<key>unitid</key>
			<string>21319</string>
		</dict>
	</array>
</dict>
</plist>
